
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
  /* black color */
   .black{
    color: #111111;
   }
  /* navbar design */
  nav{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .icon-school{
    display: flex;
    gap: 11px;
    align-items: center;
  }
  .image-01{
    width: 62px;
    height: 62px;
    
  }
  .school{
    font-size: 2rem;
    font-weight: 700;
  }
  ul li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    
  }
  .facility{
    display: flex;
    width: 387px;
    justify-content: space-between;
  }
  #home{
    color: #FEA301;
    font-weight: 500;
  }
  .about{
   color: #01ACFD;
  }
  .facilities{
    color: #05D4DF;
  }
  .admission{
    color: #5D58EF;
  }
  .btn-1{
    color: #FFFFFF ;
    font-size: 1.25rem;
    font-weight: 600;
    height: 50px;
    width: 197px;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;
  }
  /* media quiries for mobile devices */
  @media screen and (min-width:700px) and (max-width: 800px) {
      .school{
        display: none;
      }
      .facility{
        display: none;
      }
    .btn-1{
        display: none;
    }
  }